.tile {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--color-text-secondary);
    user-select: none;
    text-shadow: 0 1px 3px rgba(0,0,0,0.8);
}

.empty {
    pointer-events: none;
    background: transparent;
    cursor: default;
    box-shadow: none;
    border: none;
}