.tile {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;

    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.empty {
    background: transparent;
    cursor: default;
    box-shadow: none;
    border: none;
}