.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-4);
    cursor: pointer;
    user-select: none;
    width: 100%;
}

.label {
    font-size: var(--font-size-base);
    color: var(--color-text-main);
}

.toggleContainer {
    position: relative;
    width: var(--toggle-width);
    height: var(--toggle-height);
    flex-shrink: 0;
}

.input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-surface-base);
    transition: var(--transition-fast);
    border-radius: var(--radius-full);
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--toggle-knob);
    width: var(--toggle-knob);
    left: calc((var(--toggle-height) - var(--toggle-knob)) / 2);
    bottom: calc((var(--toggle-height) - var(--toggle-knob)) / 2);
    background-color: white;
    transition: var(--transition-fast);
    border-radius: var(--border-radius-full);
}

.input:checked + .slider {
    background-color: var(--color-primary-main);
}

.input:focus-visible + .slider {
    box-shadow: 0 0 0 2px var(--color-primary-hover);
}

.input:checked + .slider:before {
    transform: translateX(calc(var(--toggle-width) - var(--toggle-knob) - ((var(--toggle-height) - var(--toggle-knob)) / 1)));
}
